<!DOCTYPE html>
<html>
  <head>
    <title>My Developer Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My Developer Skills</h1>
    <a href="/skills">See My Developer Skills</a>
  </body>
</html>
